* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: #353535;
}


.main-menu{
height:5vh;
display:grid;
border: solid 1px black;
place-items: center;
gap: 20px;
justify-items: end;
}



.authentication-button {
    width:90px;
  text-align:center;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: #1071FF 1px solid;
  color: #1071FF;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
   margin: 20px auto;
  transition: .5s;
  border-radius: 0px;
}

.authentication-button:hover {
  top: 5px;
  transition: .5s;
  color: #10FF58;
  border: #10FF58 1px solid;
  border-radius: 10px;
}
.authentication-button:active {
  color: #000;
  border: #1A1A1A 1px solid;
  transition: .07s;
  background-color: #FFF;
}


.registration-button {
    width:90px;
  text-align:center;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: #1071FF 1px solid;
  color: #1071FF;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
   margin: 20px auto;
  transition: .5s;
  border-radius: 0px;
}

.registration-button:hover {
  top: 5px;
  transition: .5s;
  color: #10FF58;
  border: #10FF58 1px solid;
  border-radius: 10px;
}
.registration-button:active {
  color: #000;
  border: #1A1A1A 1px solid;
  transition: .07s;
  background-color: #FFF;
}


/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: #474e5d;
  padding-top: 50px;
}

/*from registration */
    .form-registration {
      background: #fff;
      width: 400px;
      max-width: 100%;
      box-sizing: border-box;
      padding: 25px;
      margin: 20px auto;
      position: relative;
      z-index: 1;
      border-top: 5px solid #f5a81a;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }

    .form-registration > h2 {
      font-size: 1.5em;
      line-height: 1.5em;
      margin: 0;
      text-align: center;
      padding-bottom: 15px;
    }

    .input-field {
      display: flex;
      margin-bottom: 20px;
    }

    .input-field i {
      color: #333;
      height: 22px;
      width: 30px;
      padding-top: 10px;
      border: 1px solid #cccccc;
      border-right: none;
      text-align: center;
    }

    .input-field input:hover {
      background: #fafafa;
    }

    .input-field input[type=text],
    .input-field input[type=email],
    .input-field input[type=password] {
      width: 100%;
      padding: 8px 10px;
      height: 35px;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      outline: none;
    }

    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
      border: 1px solid #f5ba1a;
      background: #fafafa;
    }

    .select-option {
      position: relative;
      width: 100%;
    }

    .select-option select {
      display: inline-block;
      width: 100%;
      height: 35px;
      padding: 0px 15px;
      cursor: pointer;
      color: #7b7b7b;
      border: 1px solid #cccccc;
      border-radius: 0;
      background: #fff;
      appearance: none;
    }

    .select-arrow {
      position: absolute;
      top: calc(50% - 4px);
      right: 15px;
      width: 0;
      height: 0;
      pointer-events: none;
      border-width: 8px 5px 0 5px;
      border-style: solid;
      border-color: #7b7b7b transparent transparent transparent;
    }

    input[type=submit] {
      background: #f5961a;
      height: 35px;
      line-height: 35px;
      width: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff;
      font-size: 1.1em;
      margin-bottom: 10px;
    }

    input[type=submit]:hover {
      background: #d17f13;
    }



/*form authentication */
    .form-authentication {
      background: #fff;
      width: 400px;
      max-width: 100%;
      box-sizing: border-box;
      padding: 25px;
      margin: 20px auto;
      position: relative;
      z-index: 1;
      border-top: 5px solid #f5a81a;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }

    .form-authentication > h2 {
      font-size: 1.5em;
      line-height: 1.5em;
      margin: 0;
      text-align: center;
      padding-bottom: 15px;
    }

    .input-field {
      display: flex;
      margin-bottom: 20px;
    }

    .input-field i {
      color: #333;
      height: 22px;
      width: 30px;
      padding-top: 10px;
      border: 1px solid #cccccc;
      border-right: none;
      text-align: center;
    }

    .input-field input:hover {
      background: #fafafa;
    }

    .input-field input[type=text],
    .input-field input[type=email],
    .input-field input[type=password] {
      width: 100%;
      padding: 8px 10px;
      height: 35px;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      outline: none;
    }

    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
      border: 1px solid #f5ba1a;
      background: #fafafa;
    }


    input[type=submit] {
      background: #f5961a;
      height: 35px;
      line-height: 35px;
      width: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff;
      font-size: 1.1em;
      margin-bottom: 10px;
    }

    input[type=submit]:hover {
      background: #d17f13;
    }


